.canvas-wp {
  display: flex;
}
.menu-bar {
  border:1px solid #000000;
  padding: 2rem;
}
.inputField {
  display: none;
  position: absolute;
}
.canvas-area {
  position: relative;
}

.customerFormWp {
  margin-top: 0;
  background-color: lightgray;
  padding: 10px 5px;
  text-align: center;
}
.canvas-wp .hide {
  display: none;
}
.customerFormWp input {
  margin: 4px 0;
}